build/
3rdparty/speexbuild/build/
3rdparty/speexdspbuild/build/
3rdparty/protobufbuild/build/
3rdparty/celt-*-build/build/
3rdparty/opensslbuil/build/

MumbleKit.xcodeproj/xcuserdata/
3rdparty/celt-0.7.0-build/CELT-0.7.0.xcodeproj/xcuserdata/
3rdparty/celt-0.8.0-build/CELT-0.8.0.xcodeproj/xcuserdata/
3rdparty/opensslbuild/OpenSSL.xcodeproj/xcuserdata/
3rdparty/protobufbuild/ProtocolBuffers.xcodeproj/xcuserdata/
3rdparty/speexbuild/Speex.xcodeproj/xcuserdata/
3rdparty/speexdspbuild/SpeexDSP.xcodeproj/xcuserdata/

.DS_Store
*.pbxuser
*.mode1v3
*.rej
*.orig
